{%- liquid

  assign section_name = 'marquee'
  assign section_classes = section_name
  assign section_id = section_name | append: '--' | append: section.id

  assign aos_delay = 250
  assign aos_delay_increment = 250
  assign aos_id = section_id

  assign section_anchor = section.settings.anchor_id | default: ''
  assign section_container = section.settings.container | default: 'container'

  assign section_marquee_blocks = section.blocks | default: false
  assign section_product_blocks_size = section_marquee_blocks.size | default: 0
  assign section_marquee_duration = section.settings.marquee_duration | default: 75
  assign section_marquee_gap = section.settings.marquee_gap | default: 20
  assign section_marquee_image_height = section.settings.marquee_image_height | default: 100
  assign section_marquee_image_width = section.settings.marquee_image_width | default: 100
  assign section_marquee_item_padding_x = section.settings.marquee_item_padding_x | default: '10px'
  assign section_marquee_item_padding_y = section.settings.marquee_item_padding_y | default: '10px'
  assign section_marquee_reverse = section.settings.marquee_reverse | default: false
  assign section_marquee_text_colour = section.settings.marquee_text_colour | default: 'dark'
  assign section_marquee_text_size = section.settings.marquee_text_size | default: 20
  assign section_marquee_text_style = section.settings.marquee_text_style | default: 'primary'

  if section_marquee_reverse
    assign section_classes = section_classes | append: ' marquee--reverse'
  endif

-%}

{% if section_product_blocks_size > 0 %}

  {%- style -%}

    #{{ section_id }} {
      --marquee-duration: {{ section_marquee_duration }}s;
      --marquee-gap: {{ section_marquee_gap }}px;
      font-size: {{ section_marquee_text_size }}px;
    }

    #{{ section_id }} .image,
    #{{ section_id }} .text {
      padding: {{ section_marquee_item_padding_y }}px {{ section_marquee_item_padding_x }}px;
    }

    #{{ section_id }} .image,
    #{{ section_id }} .image img {
      height: {{ section_marquee_image_height }}px;
      width: {{ section_marquee_image_width }}px;
    }

    @media screen and (min-width: 992px) {
      #{{ section_id }} {
        font-size: calc({{ section_marquee_text_size }}px * 1.125);
      }
    }

    {%
      render 'element-styles',
        background: section.settings.background,
        background_image: section.settings.background_image,
        background_image_position_desktop: section.settings.background_image_position_desktop,
        background_image_position_mobile: section.settings.background_image_position_mobile,
        background_image_repeat: section.settings.background_image_repeat,
        background_image_size: section.settings.background_image_size,
        border_bottom: section.settings.border_bottom,
        border_top: section.settings.border_top,
        id: section_id
    -%}

  {%- endstyle -%}

  <div class="{{ section_classes }}" id="{{ section_id }}">
    <div class="{{ section_name }}__main text--uppercase text--{{ section_marquee_text_colour }} text--{{ section_marquee_text_style }}">
      <div class="{{ section_name }}__group">
        {% for i in (1..10) %}
          {% if i == 1 %}
            {% render 'marquee-items', items: section_marquee_blocks %}
          {% else %}
            {% render 'marquee-items', hidden: true, items: section_marquee_blocks %}
          {% endif %}
        {% endfor %}
      </div>
      <div class="{{ section_name }}__group" aria-hidden="true">
        {% for i in (1..10) %}
          {% render 'marquee-items', items: section_marquee_blocks %}
        {% endfor %}
      </div>
    </div>
  </div>

{% endif %}

{% schema %}
{
  "name": "Marquee",
  "tag": "section",
  "class": "section section--marquee",
  "settings": [
    {
      "content": "Marquee",
      "type": "header"
    },
    {
      "label": "Marquee Duration",
      "info": "Duration, in seconds, that it takes for the marquee to complete a loop. The smaller the number, the faster it goes.",
      "type": "range",
      "min": 10,
      "max": 1000,
      "step": 10,
      "default": 450,
      "id": "marquee_duration"
    },
    {
      "label": "Marquee Gap",
      "info": "Gap between items, in pixels.",
      "type": "range",
      "min": 1,
      "max": 100,
      "step": 1,
      "default": 20,
      "id": "marquee_gap"
    },
    {
      "label": "Marquee Item Padding (Horizontal)",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "id": "marquee_item_padding_x"
    },
    {
      "label": "Marquee Item Padding (Vertical)",
      "type": "range",
      "min": 0,
      "max": 100,
      "step": 1,
      "default": 10,
      "id": "marquee_item_padding_y"
    },
    {
      "label": "Reverse Marquee",
      "info": "If checked, marquee will run in reverse.",
      "type": "checkbox",
      "default": false,
      "id": "marquee_reverse"
    },
    {
      "content": "Marquee Image",
      "type": "header"
    },
    {
      "label": "Marquee Image Width",
      "type": "range",
      "min": 50,
      "max": 250,
      "step": 2,
      "default": 100,
      "id": "marquee_image_width"
    },
    {
      "label": "Marquee Image Height",
      "type": "range",
      "min": 50,
      "max": 250,
      "step": 2,
      "default": 100,
      "id": "marquee_image_height"
    },
    {
      "content": "Marquee Text",
      "type": "header"
    },
    {
      "label": "Marquee Text Colour",
      "type": "select",
      "options": [
        { "label": "Dark", "value": "dark" },
        { "label": "Light", "value": "light" }
      ],
      "default": "dark",
      "id": "marquee_text_colour"
    },
    {
      "label": "Marquee Text Size",
      "type": "range",
      "min": 10,
      "max": 100,
      "step": 1,
      "default": 20,
      "id": "marquee_text_size"
    },
    {
      "label": "Marquee Text Style",
      "type": "select",
      "options": [
        { "label": "Primary (Hobeaux)", "value": "primary" },
        { "label": "Secondary (Sorry Sans)", "value": "secondary" }
      ],
      "default": "primary",
      "id": "marquee_text_style"
    },
    {
      "content": "Settings",
      "type": "header"
    },
    {
      "content": "Anchor",
      "type": "header"
    },
    {
      "label": "Anchor ID",
      "info": "Optionally include a unique ID so that sections within the page can be linked to. Anchor IDs must be all lowercase, unique and replaced empty spaces with hyphens. For example: my-great-section-anchor",
      "type": "text",
      "id": "anchor_id"
    },
    {
      "label": "Background",
      "type": "select",
      "options": [
        { "label": "Black", "value": "black" },
        { "label": "Grey", "value": "grey" },
        { "label": "Image", "value": "image" },
        { "label": "Lemon", "value": "lemon" },
        { "label": "Lime", "value": "lime" },
        { "label": "Mango", "value": "mango" },
        { "label": "None", "value": "none" },
        { "label": "Orange", "value": "orange" },
        { "label": "Strawberry", "value": "strawberry" }
      ],
      "default": "none",
      "id": "background"
    },
    {
      "label": "Background Image",
      "type": "image_picker",
      "id": "background_image"
    },
    {
      "label": "Background Image Position (Mobile)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_mobile"
    },
    {
      "label": "Background Image Position (Desktop)",
      "type": "select",
      "options": [
        { "label": "Top Left", "value": "top left" },
        { "label": "Top Center", "value": "top center" },
        { "label": "Top Right", "value": "top right" },
        { "label": "Center Left", "value": "center left" },
        { "label": "Center Center", "value": "center center" },
        { "label": "Center Right", "value": "center right" },
        { "label": "Bottom Left", "value": "bottom left" },
        { "label": "Bottom Center", "value": "bottom center" },
        { "label": "Bottom Right", "value": "bottom right" }
      ],
      "default": "center center",
      "id": "background_image_position_desktop"
    },
    {
      "label": "Background Image Repeat",
      "type": "select",
      "options": [
        { "label": "No Repeat", "value": "no-repeat" },
        { "label": "Repeat", "value": "repeat" }
      ],
      "default": "repeat",
      "id": "background_image_repeat"
    },
    {
      "label": "Background Image Size",
      "type": "select",
      "options": [
        { "label": "100px", "value": "100px" },
        { "label": "200px", "value": "200px" },
        { "label": "300px", "value": "300px" },
        { "label": "400px", "value": "400px" },
        { "label": "500px", "value": "500px" },
        { "label": "Auto", "value": "auto" },
        { "label": "Contain", "value": "contain" },
        { "label": "Cover", "value": "cover" }
      ],
      "default": "cover",
      "id": "background_image_size"
    },
    {
      "content": "Border",
      "type": "header"
    },
    {
      "label": "Top Border",
      "type": "checkbox",
      "default": false,
      "id": "border_top"
    },
    {
      "label": "Bottom Border",
      "type": "checkbox",
      "default": false,
      "id": "border_bottom"
    }
  ],
  "blocks": [
    {
      "name": "Image",
      "type": "image",
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Image",
          "type": "image_picker",
          "id": "image"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Black", "value": "black" },
            { "label": "Grey", "value": "grey" },
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "None", "value": "none" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "none",
          "id": "background"
        }
      ]
    },
    {
      "name": "Text",
      "type": "text",
      "settings": [
        {
          "content": "Content",
          "type": "header"
        },
        {
          "label": "Title",
          "type": "text",
          "id": "title"
        },
        {
          "content": "Settings",
          "type": "header"
        },
        {
          "label": "Background",
          "type": "select",
          "options": [
            { "label": "Black", "value": "black" },
            { "label": "Grey", "value": "grey" },
            { "label": "Lemon", "value": "lemon" },
            { "label": "Lime", "value": "lime" },
            { "label": "Mango", "value": "mango" },
            { "label": "None", "value": "none" },
            { "label": "Orange", "value": "orange" },
            { "label": "Strawberry", "value": "strawberry" }
          ],
          "default": "none",
          "id": "background"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Marquee"
    }
  ]
}
{% endschema %}
